<div class="grp">
  <div class="bold">
    Everywhere:
  </div>
  <div>
    <strong>/ or , (slash or comma)</strong> - Focus on shortcuts field
  </div>
  <div>
    <strong>ESC</strong> - Remove focus from any field
  </div>
</div>
<div class="grp">
  <div class="bold">
    On shortcuts field:
  </div>
  <div>
    <strong>nn</strong> - New Note
  </div>
  <div>
    <strong>nb</strong> - New Bookmark
  </div>
  <div>
    <strong>nt</strong> - New To-Do
  </div>
  <div>
    <strong>n</strong> - Go to Notes
  </div>
  <div>
    <strong>p:[num]</strong> - Go to page "num"
  </div>
  <div>
    <strong>tag:[query]</strong> - Search for notes tagged "query".  To search for several tags, you can separate them by commas: "tag1,tag2,tag3"
  </div>
  <div>
    <strong>title:[query]</strong> - Search for notes with "query" in the title
  </div>
  <div>
    <strong>kind:[query]</strong> - Search for notes with [query] kind. "todo" searches to-dos, "bookmarks" searches bookmarks, "note" searches notes.
  </div>
  <div>
    <strong>[query]</strong> - Search for notes with "query" in the title, tag, content or url
  </div>
</div>
<div class="grp">
  <div class="bold">
    On notes list:
  </div>
  <div>
    <strong>x</strong> - View note
  </div>
  <div>
    <strong>l</strong> - Next page in notes index
  </div>
  <div>
    <strong>h</strong> - Previous page in notes index
  </div>
  <div>
    <strong>v</strong> - Open note URL (if bookmark)
  </div>
  <div>
    <strong>v</strong> - Mark note as done (if To-Do)
  </div>
</div>
<div class="grp">
  <div class="bold">
    On notes list or while viewing note:
  </div>
  <div>
    <strong>j</strong> - Next note
  </div>
  <div>
    <strong>k</strong> - Previous
  </div>
  <div>
    <strong>e</strong> - Edit note in notes index
  </div>
  <div>
    <strong>d</strong> - Delete note in notes index
  </div>
</div>
<div class="grp">
  <div class="bold">
    While viewing note:
  </div>
  <div>
    <strong>u</strong> - Back to the notes index
  </div>
  <div>
    <strong>r</strong> - View raw text
  </div>
  <div>
    <strong>s</strong> - View HTML scrape
  </div>
</div>
<div class="grp">
  <div class="bold">
    On note forms:
  </div>
  <div>
    <strong>. (period key)</strong> - Focus on Title Field in new/edit Note form
  </div>
</div>
<div class="bold">
  On note forms:
</div>
<div>
  <strong>. (period key)</strong> - Focus on Title Field in new/edit Note form
</div>