{% extends "base.html" %}

{% block title %}
  Settings -
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>
      Settings
    </h1>
  </div>

  <div class="well">
    <h2>
      Synchronize with <a href="https://www.dropbox.com/" target="_blank">Dropbox</a>
    </h2>

    {% if client %}
      <p class="bold big">
        Linked account info:
      </p>

      <p>
        Display name:
        {{ client.account_info().display_name }}
        <br />
        Email:
        {{ client.account_info().email }}
      </p>

      <div class="buttons">
        <a href="/settings/resync_dropbox">Resync all my documents</a>
        <a href="/settings/unlink_dropbox">Unlink Dropbox Account</a>
      </div>
    {% else %}
      <p class="big">
        To <strong>synchronize</strong> your notes, to-dos and bookmarks with <strong>your Dropbox account</strong>, please click the button below:
      </p>

      <div class="buttons">
        <a href="{{ url }}">Synchronize with Dropbox</a>
      </div>
    {% endif %}
  </div>

  <div class="well">
    <h2>
      Import from <a href="http://delicious.com/" target="_blank">Delicious</a>
    </h2>

    <p>
      If you have exported your <a href="http://delicious.com/" target="_blank">Delicious</a> bookmarks into an HTML file, you can import your bookmarks.  Just select the file and click the import button.
    </p>

    <p>
      You can <a href="http://export.delicious.com/settings/bookmarks/export" target="_blank">export your Delicious bookmarks here</a>.
    </p>

    <form method="post" action="/settings/import_delicious" enctype="multipart/form-data">
      <p>
        <input type="file" name="f" />
      </p>
      <p>
        <input type="submit" value="Import" class="btn btn-primary" />
      </p>
    </form>
  </div>
{% endblock %}